  html,
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  body {
    background-image: url('bg2.gif');
    font-family: 'Radio Canada';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #4b5c7a;
    overflow-x: hidden;
    min-height: 100vh;
  }

  .card {
    border: 1px solid #4b5c7a;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: none;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }


  .card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .decor-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(100px, 15vw, 150px);
    height: auto;
    pointer-events: auto;
    z-index: 2;
    transform: translate(45%, -40%) rotate(0deg);
    transition: transform 0.3s ease;
  }

  .decor-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(100px, 15vw, 150px);
    height: auto;
    z-index: 2;
    transform: translate(-45%, 40%) rotate(0deg);
    transition: transform 0.3s ease;
    pointer-events: auto;
  }


  @media (hover: hover) and (pointer: fine) {
    .decor-bottom-left:hover {
      transform: translate(-45%, 40%) rotate(15deg);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .decor-top-right:hover {
      transform: translate(45%, -40%) rotate(-15deg);
    }
  }


  .card-body {
    display: flex;
    width: 100%;
    justify-content: center;
  }


  .profile {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    background-color: #3d4449;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }


  .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


  .profile::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(240, 255, 193, 0.068);
  }

  .profile-text {
    text-align: center;
  }

  .profile-text h2 {
    font-family: 'Radio Canada';
    font-weight: bold;
    color: #7aaac7;
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
  }

  .profile-text p {
    margin: 2px 0;
    margin-bottom: .2rem;
    font-family: 'Radio Canada';
  }

  .profile-text img {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    vertical-align: middle;
  }

  .icon-group {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    z-index: 3;

  }

  .icon a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(139, 148, 153);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .icon svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .projects-link strong {
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
    color: #7aaac7;

    cursor: pointer;
    transition: color 0.3s ease;
  }

  .projects-link strong:hover {
    text-decoration: underline;
    color: #4cb1f0;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  .projects-dropdown {
    display: none;

  
    border-radius: 8px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .project {
    margin-bottom: 16px;
    font-family: 'Radio Canada', sans-serif;
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-name {
    font-weight: 400;
    color: #3d4449;
    margin: 0;
  }

  .project-links a {
    margin-left: 16px;
    color: #7aaac7;
    text-decoration: none;
    transition: color 0.2s ease;
  }


  .project-links a:hover {
    text-decoration: underline;
    color: #4cb1f0;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }


  .project-description {
    margin-top: 5px;
    font-weight: 400;
    color: #8e8e8e;
  }


  @media (min-width: 1024px) {
    .card {
      max-width: 700px;
      padding: 40px;
    }
  }

  @media (min-width: 1440px) {
    .card {
      max-width: 900px;
      padding: 50px;
    }
  } 
